
.activeRouteCollapse {
  height: 40px;
  background: linear-gradient(90deg, #2e62ff 26.2%, #4b24dc 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.48);
  display: block;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 21px;
}

.activeRouteCollapse .btnText {
  color: white;
}

.activeRouteCollapse .btnIcon {
  opacity: 1;
}

.inActiveRouteCollapse {
  height: 40px;
  display: block;
  padding: 0px 10px;
  position: relative;
  transition: 0.5s;
  border-radius: 21px;
  overflow-x: hidden;
}

.inActiveRouteCollapse .btnText {
  color: white;
  opacity: 0.5;
}

.inActiveRouteCollapse .btnIcon {
  opacity: 0.5;
} 

.btnIcon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.btnText {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 100px;
  transform: translateY(-50%);
}

/* .activeRoute {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(90deg, #2e62ff 26.2%, #4b24dc 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.48);
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none; 
}

.activeRoute .text {
  color: white;
}

.inActiveRoute {
   display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: "red";
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none; 
}

.inActiveRoute .text {
  color: white;
  opacity: 0.5;
}

.activeRouteCollapse {
  background: linear-gradient(90deg, #2e62ff 26.2%, #4b24dc 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.48);
  width: 100%;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px;
}

.inActiveRouteCollapse {
  width: 100%;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px;
} */
