.spidercard {
    width: 73px;
    height: 106px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background: transparent;
    border: 1px solid #5C5C5C78;
    /* box-shadow: 0px -1px 16px rgba(222, 191, 112, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 12px;
}

.spidercard:hover {
    background: #11141D;

}

.spidernumber {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.65);
}