/* .slick-slide.slick-center {
  margin-top: -30px;
  opacity: 1;
  top: 100%;
  transition: all 0.5s;
  filter: brightness(200%);
}

.hiddenContainerMobile {
  opacity: 0;
  background-color: red !important;
}

.slick-slide.slick-center .hiddenContainerMobile {
  margin-top: 500px;
  opacity: 0;
} */
