.cardhovered {
  transform: translateY(-32px);
}
.contentHovered {
  display: flex;
  text-align: center;
  justify-content: center;
  transform: translateY(-28px);
}
.divider {
  color: '#424242';
  height: 35px;
  width: 1px;
  font-size: 60px;
  transform: translateY(-15px);
}
