.goldnumber {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    background: linear-gradient(112.98deg, #FFF4D1 8.47%, #F5D28F 23.3%, #675537 91.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.card {
    display: flex;
    align-items: center;
    height: auto !important;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.48);
    background: linear-gradient(92.91deg, rgba(19, 22, 30, 0.76) 1.78%, rgba(19, 22, 30, 0.62) 99.64%);
    padding: 20px;
}