/* ------------ Head Container CSS ------------  */

.headCardContainer {
  display: flex;
  position: relative;
}

.headCardContainer::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* ------------  Bottom Section CSS ------------  */

.inputStyle {
  width: 100%;
  background-color: #232631;
  box-shadow: inset 0px 1px 4px #11141d;
  border-radius: 12px;
  padding: 15px 70px 15px 20px;
  border: transparent;
  color: white;
}

.roundBorder {
  border-left: 0.5px solid rgba(215, 215, 215, 0.2);
  border-right: 0.5px solid rgba(215, 215, 215, 0.2);
  border-bottom: 0.5px solid rgba(215, 215, 215, 0.2);
  border-radius: 10px;
  padding: 20px 0px;
  position: relative;
}

.roundBorder::before {
  content: "";
  width: 35%;
  height: 0.5px;
  position: absolute;
  background: rgba(215, 215, 215, 0.2);
  top: 0;
  left: 7px;
}

.roundBorder::after {
  content: "";
  width: 35%;
  height: 0.5px;
  position: absolute;
  background: rgba(215, 215, 215, 0.2);
  top: 0;
  right: 7px;
  border-radius: 10px;
}

.roundBorderMobile {
  border-left: 0.5px solid rgba(215, 215, 215, 0.2);
  border-right: 0.5px solid rgba(215, 215, 215, 0.2);
  border-bottom: 0.5px solid rgba(215, 215, 215, 0.2);
  border-radius: 10px;
  padding: 20px 0px;
  position: relative;
}

.roundBorderMobile::before {
  content: "";
  width: 25%;
  height: 0.5px;
  position: absolute;
  background: rgba(215, 215, 215, 0.2);
  top: 0;
  left: 7px;
}

.roundBorderMobile::after {
  content: "";
  width: 25%;
  height: 0.5px;
  position: absolute;
  background: rgba(215, 215, 215, 0.2);
  top: 0;
  right: 7px;
  border-radius: 10px;
}
