.mainBox {
    width: 100%;
    height: 174px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 10px;
    background: rgba(17, 20, 29, 0.4);
    border: 1px solid #FFFFFF;
    filter: brightness(50%);
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    z-index: 99;
}

.mainBox:hover {
    filter: brightness(100%);
    background-color: rgb(14, 14, 14);
    margin-top: -10px;
}

.hoverContent {
    position: relative;
    width: 100%;
    margin-top: -50px;
    padding: 10px;
    background-color: #3751F6;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 0.5s;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.hoverContent::after {
    content: "";
    width: 19px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 35%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(90deg);
}

.mainBox:hover ~ .hoverContent {
    opacity: 1;
    margin-top: -10px;
    padding-top: 20px;
}

.hoverContent p {
    font-size: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    line-height: 11px;
    font-weight: bold;
}

/* ---------- Table Css ---------- */

.tooltipContainer {
    position: relative;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.32));
    width: 54px;
    height: 32px;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 16px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    width: 196px;
    height: 180px;
    background-color: black;
    background: url('../../assets/images/tooltip.png');
    top: 110%;
    left: -120%;
    display: none;
    padding: 20px;
}

.tooltipContainer:hover .tooltip {
    display: flex;
}

.copyTxt {
    font-size: 10px;
    font-family: "Kanit";
    color: #DEBF70;
    line-height: 15px;
    font-weight: 500;
}