@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

@font-face {
  font-family: Trojan;
  src: url("./assets/fonts/TrajanPro3Regular.ttf");
}

.font-trojan {
  font-family: Trojan;
}
